NEXT_PUBLIC_BACKENDLESS_URL=https://savorythought-us.backendless.app
NEXT_PUBLIC_BACKENDLESS_APP_ID=4D89632E-1370-4A67-8054-6DA8146B86CC
NEXT_PUBLIC_BACKENDLESS_API_KEY=C06CD010-9014-4B32-8413-59FF511B35EF
# please use it with my own Backendless account credentials xD